[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/bin/bash -c 'cd "$(dirname "$0")"; python2 main.py' %k
Name=Play
Comment=Click to play Air Hockey
Icon=AHlogo.png
