[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=python2 ./main.py
Name=Air Hockey
Comment=This runs Air Hockey in one click
Icon=./logo.png
